<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twice</title>
</head>
<body>

    <header>TWICE</header>

    <main>
        <ul>
            <li><a href="{% url 'members_list' %}">Members</a></li>
            <li><a href="{% url 'groupings_list' %}">Units and subunits</a></li>
            <li><a href="{% url 'releases_list' %}">Albums</a></li>
        </ul>
    </main>

    <footer>
    </footer>


</body>
</html>