<!DOCTYPE html>  <html lang="en">  <head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{{member.first_name}}</title>  

</head>
    <body>
        <h1>{{member}}</h1>

    <ul>
        <p>{{ member.first_name }} {{ member.last_name }}</p>

        {% load full_name %}
        <p>{{member|full_name:"kor"}}</p>

        {% load full_name %}
        <p>{{member|full_name:"jap"}}</p>

        {% load full_name %}
        <p>{{member|full_name:"ch"}}</p>

        <p>Date of birth: {{member.date_of_birth}}</p>
             
    </ul>
    </body> 
</html>