<!DOCTYPE html>  <html lang="en">  <head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{{release.name}}</title>  

</head>
    <body>
        <h1>{{releaseGroup}}</h1>
        <ul>
            {% for release in releases %}
                <li>
                    <h2>{{ release.title }}</h2>
                    <p>Year of release: {{ release.release_year }}</p>
                    {% if release.format %}
                        <p>Format: {{ release.format }}</p>
                    {% endif%}
                    <p>Country of release: {{ release.country.name }}</p>
                    <h3>Tracklist</h3>
                    {% for track in tracks %}
                        {% if track.release.id == release.id %}
                            <li>
                                {{track.track_num}} - {{track.track}}
                            </li>
                        {% endif %}
                    {% endfor %}
                </li>
            {% empty %}
                <li>No releases found.</li>
            {% endfor %}
        </ul>
    </body> 
</html>